.rrui__tooltip
{
	display     : flex;
	align-items : center;

	padding-left  : calc(0.6rem * 1.5);
	padding-right : calc(0.6rem * 1.5);
	height        : calc(0.6rem * 4);
	margin-top    : calc(0.6rem * -1);

	color            : white;
	background-color : black;

	border-radius : 0.1rem;

	cursor : default;
}

.rrui__tooltip
{
	opacity    : 0;
	transform  : translateY(0.8em) scale(0.97);
}

.rrui__tooltip--after-show
{
	opacity   : 1;
	/* transform : scale(1); */
	transform : translateY(0) scale(1);
}

.rrui__tooltip--before-hide
{
	opacity   : 0;
	/* transform : scale(0.8); */
	transform : translateY(0.8em) scale(0.97);
}

.rrui__tooltip--after-show
{
	transition : opacity 90ms ease-out, transform 200ms ease-out;
}

.rrui__tooltip--before-hide
{
	transition : opacity 170ms ease-out, transform 200ms ease-out;
}

/* Prevents entering text selection mode
   on mobile devices when tapping down and holding */
.rrui__tooltip__target
{
	user-select : none;
}